extends ../layout

block content

    a(href=`/authors/edit/${author.id}`) Edit Author
    a(href=`/authors/delete/${author.id}`) Delete Author
    div
        h3 Name: #{author.first_name} #{author.last_name}
        p Date-Of-Birth: #{author.dot}

    div.books
        h4 Available Books
        form(action=`/authors/${author.id}/add` method = 'post')
            select(name= 'book' id = 'book' autocomplete= off)
                each book in availableBooks
                    option(value= book.id) #{book.title}
            button.button(type= 'submit') Add

    h4 Author's Books
    table
        thead
            tr
                th Title
                th Author
                th Publisher
                th Genre
                th Page Number
                th Cover
                th Description
                th
        tbody
            each book in author.books
                tr
                    td= book.title
                    td= book.author
                    td= book.publisher
                    td= book.genre
                    td= book.pg_number
                    td
                        img.image(src= book.image)
                    td= book.description
                    td
                        a(href= `/books/profile/${book.id}`) View Book
                        a(href= `/authors/${author.id}/remove/${book.id}`) Remove Book