extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p.D Author: #{book.author}
        p.D Publisher: #{book.publisher}
        p.D Genre: #{book.genre}
        p.D Page Number: #{book.pg_number}
        p
            img.image_p(src= book.image)
        p Description: #{book.description}

    div.authors
        h4 Available Authors
        if availableAuthors.length>0
            form(action=`/books/${book.id}/add` method = 'post')
                select(name= 'author' id = 'author' autocomplete= off)
                    each author in availableAuthors
                        option(value= author.id) #{author.first_name} #{author.last_name}
                button.button.primary(type= 'submit') Add
        else
            p Lack of remaining authors

        h4 Published Author(s)
        if book.authors.length>0
            table
                thead
                    tr
                        th First
                        th Last
                        th Date-Of-Birth
                        th
                tbody
                    each author in book.authors
                        tr
                            td= author.first_name
                            td= author.last_name
                            td= author.dot
                            td
                                a(href= `/authors/profile/${author.id}`) View Author
                                a(href= `/books/${book.id}/remove/${author.id}`) Remove Author
        else
            p No authors have been cited for this book