extends ../layout

block content
    h3= book.title

    div
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Page Number: #{book.pg_number}
        p
            img.image_p(src= book.image)